<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <div class="footer__logo">
                    <img src="img/logo/footer-logo.svg" alt="">
                </div>
                <div class="footer__text">
                    <p>ТОВ Ріж Платіж, усі права захищені
                        Лицензия НБУ № 92 от 10.10.2011
                    </p>
                    <p>
                        Банк является участником Фонда гарантирования вкладов физических лиц
                    </p>
                </div>
                <div class="footer__copy">
                    2021 © ТОВ Ріж Платіж, усі права захищені
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__contacts">
                    <div href="#" class="footer__item">Київ, вул. Перемоги, 101</div>
                    <a href="#" class="footer__item">+380 (44) 234 56 87</a>
                    <a href="#" class="footer__item">info@rizhplatizh.com</a>
                </div>
                <div class="footer__social">
                    <a href="#" class="social-item">
                        <img src="img/logo/tumblr.svg" alt="">
                    </a>
                    <a href="#" class="social-item">
                        <img src="img/logo/inst.svg" alt="">
                    </a>
                    <a href="#" class="social-item">
                        <img src="img/logo/facebook.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>