<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <img class="rizh-logo" src="img/logo/header-logo.svg" alt="">
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__list-elem current">
                    <a href="" class="header__link">Покупцям</a>
                </li>
                <li class="header__list-elem">
                    <a href="" class="header__link">Фінансовим партнерам</a>
                </li>
                <li class="header__list-elem">
                    <a href="" class="header__link">Продавцям</a>
                </li>
            </ul>
        </nav>
        <div class="header__right">
            <button class="btn header__login">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#cabinet-black"></use>
                </svg>
                <span>Увійти</span>
            </button>
        </div>
        <div class="header__burger header__burger--black">
            <div class="burger__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header-mobile">
            <div class="header-mobile__content">
                <nav class="header-mobile__nav">
                    <ul class="header-mobile__list">
                        <li class="header-mobile__elem"><a href="" class="header-mobile__link">Покупцям</a></li>
                        <li class="header-mobile__elem"><a href="" class="header-mobile__link">Фінансовим партнерам</a>
                        </li>
                        <li class="header-mobile__elem"><a href="" class="header-mobile__link">Продавцям</a>
                        </li>
                        <li class="header-mobile__elem"><a href="" class="header-mobile__link">Увійти</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-mobile__footer">
                2021 © ТОВ Ріж Платіж, усі права захищені
            </div>
        </div>
    </div>
</header>